.container {
    width: 100%;
}

.vacations-report-title {
    margin-top: 20px;
    color: #007bff;
    text-align: center;
}

.report-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.vacations-report-chart {
    margin-left: 5%;
    max-width: 70%;
    max-height: 550px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.return-link {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 450px;
}